.sidebar-menu-item:hover {
  background-color: white;
  color: blue;
  border-radius: 30px;
}
.admin-icon {
  color: white;
}
.admin-text {
  color: white;
  font-size: 22px;
}
.admin-icon-text {
  text-decoration: none !important;
}
