@import "../colors/Colors.scss";

.sidebar-menu-item:hover {
  background-color: white;
  color: $special;
  border-radius: 30px;
}
.admin-icon {
  color: white;
}
.admin-text {
  color: white;
  font-size: 22px;
}
.admin-icon-text {
  text-decoration: none !important;
}
.sidebar-div {
  min-height: 100vh;
}
